  <mat-toolbar *ngIf="headerFacade.headerInfo | async as vm">
    <div>
      <a title="Alpega Group" routerLink="/">
        <img title="Alpega Group" alt="Alpega Group" class="logo" src="./assets/alpega_logo.png">
      </a>
      <div>Where in the world?</div>
    </div>


    <button mat-icon-button (click)="changeTheme(vm?.theme === 'theme-dark' ? 'theme-light':'theme-dark')">
      {{ vm?.theme === 'theme-dark' ? 'Dark mode' : 'Light mode'}}
      <mat-icon aria-hidden="false"
                aria-label=" vm?.theme == 'theme-dark' ? 'dark mode' : 'light mode'">{{ vm?.theme === 'theme-dark' ? 'dark_mode' : 'light_mode'}}</mat-icon>
    </button>
  </mat-toolbar>
