<main *ngIf="countrySummaryFacade.countries$ | async as countries">
    <app-country-filter
      (countrySearchChange)="countrySummaryFacade.filterByPartialName($event)"
      (regionChange)="countrySummaryFacade.filterByRegion($event)"
    ></app-country-filter>
  <app-country-grid [countries]="countries"></app-country-grid>
</main>
