<div class="search">
  <div class="searchField">
    <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
    <input class="search-country" type="text" [formControl]="searchControl" placeholder="Search for a country...">
  </div>

  <mat-form-field>
    <mat-select
      [(value)]="defaultRegion"
      (valueChange)="regionChange.emit(this.defaultRegion)"
    >
      <mat-option value="all-regions">All Regions</mat-option>
      <mat-option [value]="region" *ngFor="let region of regions">
        {{region | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
