$grid-gap: 40rem;

.mat-form-field-type-mat-select {
  .mat-form-field-infix {
    box-shadow: inset 0 0 2px #282828;
  }
}

.search {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}



.searchField {
  display: flex;
  align-items: center;
  .mat-icon {
    height: 40px;
  }
  input[type="text"] {
    padding: 19rem 0 19rem 19rem;
    width: 400rem;
    border: none;
    color:var(--theme);
    background-color: var(--theme);
    border-radius: 4px;
    box-shadow: inset 0 0 2px #282828;

    &::placeholder,
    &:focus {
      color: var(--color-primary);
      border: none;
    }

    @media only screen and (max-width: 700px) {
      width: 100%;
    }
  }

  mat-icon {
    position: absolute;
    padding: 5rem;
    font-size: xx-large;
    display: flex;
    align-items: center;
  }

  .search-country {
    text-indent: $grid-gap;
  }

}
