



<main *ngIf="countryDetailFacade.country$ | async as country">
  <button class="back" mat-icon-button (click)="back()">
    <mat-icon aria-hidden="false">{{ 'arrow_back'}}</mat-icon>
    Back
  </button>

  <div class="details">
      <img class="flag" [src]="country.flagUrl" alt="{{ country.name }} flag" />
    <div class="detailsInfo">
      <h1 class="mat-headline">{{ country.name }}</h1>
      <div class="info">
        <div class="overview">
          <mat-list role="list">
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Native Name</b>:
              <span class="mat-body-1">{{ country.nativeName }}</span></mat-list-item
            >
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Population</b>:
              <span class="mat-body-1">{{ country.population }}</span></mat-list-item
            >
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Region</b>:
              <span class="mat-body-1">{{ country.region }}</span></mat-list-item
            >
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Sub Region</b>:
              <span class="mat-body-1">{{ country.subRegion }}</span></mat-list-item
            >
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Capital</b>:
              <span class="mat-body-1">{{ country.capital }}</span></mat-list-item
            >
          </mat-list>
        </div>
        <div class="lang-money">
          <mat-list role="list">
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Languages</b>:
              <span class="mat-body-1">{{
                country.languageNames.join(", ")
                }}</span></mat-list-item
            >
            <mat-list-item role="listitem">
              <b class="mat-body-2">Currencies</b>:
              <span class="mat-body-1"
              >{{ country.currencyNamesAndSymbols.join(", ") }}
        </span></mat-list-item
            >
          </mat-list>
        </div>
        <div class="codes">
          <mat-list role="list">
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Calling Code</b>:
              <span class="mat-body-1">{{ country.callingCode }}</span></mat-list-item
            >
            <mat-list-item role="listitem"
            ><b class="mat-body-2">ISO 3166-1 alpha-3 Code</b>:
              <span class="mat-body-1">{{ country.alpha3Code }}</span></mat-list-item
            >
            <mat-list-item role="listitem"
            ><b class="mat-body-2">Top Level Domain</b>:
              <span class="mat-body-1">{{
                country.topLevelDomain
                }}</span></mat-list-item
            >
          </mat-list>
        </div>
      </div>
      <div class="borders" *ngIf="country.borderingCountries.length">
        <p><b class="mat-body-2 bordering-countries">Border Countries</b></p>
        <mat-list role="list">

          <mat-list-item
            role="listitem"
            *ngFor="let borderingCountry of country.borderingCountries"
          >
            <a routerLink="/countries/{{ borderingCountry.name  }}">
              <img
                [src]="borderingCountry.flagUrl"
                alt="{{ borderingCountry.name }} flag"
              />
              <span class="mat-body-1">{{ borderingCountry.name }}</span>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="borders" *ngIf="!country.borderingCountries.length">
        <p><b class="mat-body-2 bordering-countries">No bordering countries for {{ country.name }}</b></p>
      </div>
    </div>
  </div>
</main>


