$gap: 20rem;

img.flag {
  width: 100%;
  height: max-content;
  max-width: 100vh;
}

.back {
  box-shadow: 0px 2px 6px 4px rgb(0 0 0 / 20%);
  border-radius: 0px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: $gap;
}


.borders {
  grid-area: borders;
  margin-top: $gap;

  img {
    width: 25rem;
    padding-right: 5rem;
  }

  @media only screen and (min-width: 800px) {
    mat-list {
      display: flex;
      flex-direction: row;
    }

    mat-list-item {
      width: auto;
      margin-right: 20rem;
    }
  }
}

main {
  padding: $gap;
}

.detailsInfo {
  padding: $gap;
}

@media only screen and (min-width: 1000px) {
  .detailsInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    white-space: pre-wrap;
    gap: $gap;
  }

  .details {
    width: 100%;
    display: flex;
    place-content: space-between;

    .info {
      display: flex;
      place-content: space-between;
    }
  }
}
