$grid-gap: 40rem;

.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-row: auto;
  column-gap: $grid-gap;
  row-gap: $grid-gap;
  padding: $grid-gap 0;
}

mat-card {
  height: auto;
  min-height: 450px;
}

.flag {
  min-height: 31vh;
}

mat-icon {
  font-size: xx-large;
  position: absolute;
  bottom: 12rem;
  right: 12rem;
}

.mat-card {
  box-shadow: 0px 2px 5px -2px #25354036;
}
