<div class="country-grid">
  <div *ngFor="let country of countries">
    <mat-card>
      <div class="flag">
        <a routerLink="/countries/{{ country.name }}"
        ><img mat-card-image [src]="country.flagUrl" alt="{{ country.name }} flag"
        /></a>
      </div>
      <mat-card-content>
        <mat-card-title
        ><a mat-title routerLink="/countries/{{ country.name  }}"
        >
          <h2 class="mat-title">{{ country.name }}</h2>
        </a></mat-card-title
        >
        <mat-list role="list" dense>
          <mat-list-item role="listitem"
          ><b class="mat-body-2">Population</b>:
            <span class="mat-body-1">{{ country.population }}</span></mat-list-item
          >
          <mat-list-item role="listitem"
          ><b class="mat-body-2">Region</b>:
            <span class="mat-body-1">{{ country.region }}</span>
          </mat-list-item>
          <mat-list-item role="listitem"
          ><b class="mat-body-2">Capital</b>:
            <span class="mat-body-1">{{ country.capital }}</span></mat-list-item
          >
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
