@import "~normalize.css";

html {
  font-size: 1px;
}

body {
  font-size: 16rem;
  color: var(--color-primary);
  background-color: var(--secondary-bg);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}


html, body { height: 100%; }

.mat-list-base {
  padding-top: 0 !important;
}

app-root .mat-card{
  .mat-list-base .mat-list-item {
    height: 30px;
  }
}

app-root .mat-list-base .mat-list-item {
  height: 30px;
}

.mat-list-item-content {
  padding: 0 !important;
}

mat-list-item span {
  padding-left: 5rem;
}

img.logo {
  width: 64px;
}

.mat-form-field-type-mat-select {
  .mat-form-field-infix {
    padding-bottom: 0.9375em;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}

.theme-light {
  --primary: #2577c1;
  --secondary-bg: #fafafa;
  --color-primary: #000;
  --color-dull: #ddd;
  --theme: #fff;
  .mat-toolbar {
    background-color: #fff;
  }


.mat-form-field-type-mat-select .mat-form-field-flex {
  box-shadow: inset 0 0 2px #282828;
}

}

.theme-dark {
  --primary: #424242;
  --secondary-bg: #202d36;
  --color-primary: #e0e5e5;
  --color-dull: #696969;
  --theme: #2b3743;
  .mat-toolbar {
    background-color: #2b3743;
    color: #e0e5e5;
  }

  .mat-card{
    background: #2b3743;
  }

  .mat-list-base .mat-list-item {
    color: #e0e5e5;
  }

  .mat-form-field-type-mat-select .mat-form-field-flex {
    box-shadow: inset 0 0 2px #282828;
  }

  .mat-select-value-text ,.mat-select-arrow {
    color: #e0e5e5;
  }

  .mat-form-field-type-mat-select {
    .mat-form-field-infix {
      color: #e0e5e5;
      background: #2b3743;
    }
  }
}

.mat-form-field-underline {
  display: none;
}
